@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-2 {
    @apply font-body text-3xl font-bold leading-short text-slate-700 sm:text-4xl;
  }

  .paraphrase {
    @apply font-display text-base leading-base text-slate-600;
  }

  .heading-strong {
    @apply font-display text-xl leading-base text-slate-600 md:text-2xl;
  }

  .input-flowrise {
    @apply w-full rounded-lg border border-gray-300 px-4 py-2 font-display shadow-sm transition-all duration-300 placeholder:text-slate-500/50 focus:border-cyan-500 focus:outline-none focus:ring-1 focus:ring-cyan-500;
  }

  .label-flowrise {
    @apply mb-1 block font-body text-sm font-medium text-slate-700;
  }

  .btn {
    @apply inline-block rounded-full bg-cyan-700 px-10 py-3 text-base font-bold tracking-wider text-white transition-colors duration-300 hover:bg-cyan-900;
  }
}

.hamburger-react div {
  height: 2px !important;
}

body::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(24, 206, 191, 0.2);
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  border-radius: 4px;
  display: none;
}
